* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #edf0f5;
}
.logo img {
    height: 106px;
    width: 100%;
    margin-left: -28px;
}
.logo {
    width: 25%;
}
.items {
    margin: 0 40px;
}
.description {
    font-size: 24px;
    line-height: 28px;
    width: auto;
}